.modelRoot {
  top: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  padding: 0;
}

.modelImageContainer {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.modelImage {
  display: flex;
}