.title {
  background: rgb(121, 242, 157);
}

.demoLoadingContainer {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.contentContainer {
  display: flex;
  // padding: 30px 10rem 0;
  justify-content: center;
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px 10px;
}

.loaderSpin {
  width: 100%;
  display: flex;
  justify-content: center;
}

.scrollContainer {
  width: 100%;
  padding: 30px 10rem 0;
}

.headerContainer {
  height: 4rem;
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
}

.headerLeft {
  font-size: 32px;
}