.title {
  background: rgb(121, 242, 157);
}

.demoLoadingContainer {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.contentContainer {
  display: flex;
  padding: 0 40px 0;
  justify-content: center;
}