// .picInfoContainer {
//   width: 100%;
//   overflow-x: scroll;
//   margin: 0 auto;
// }

.infoBlock {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.jintouBlock {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.addressBlock {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.dateBlock {
  min-width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.cameraBlock {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.infoBlockDesc {
  display: inline-block;
  flex-direction: row;
  margin-top: 0.4rem;
}

.infoText {
  margin-left: 0.25rem;
}

.infoIso {
  margin-left: 0.45rem;
  color: rgb(141, 141, 141);
}

.infoShutter {
  margin-left: 0.45rem;
  zoom: 110%;
}

.infoRate {
  color: rgba(0, 0, 0, 0.35);
}
